main {
    background-image: url('../assets/checkout.jpg');
    background-size: cover;
	background-repeat:space;
    background-position: center;
    width: 100%;
    height: auto;
}

h2 {
    font-family: var(--text-heading), sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;

}

p {
    color: #000;
    line-height: 8px;
}

label{
    display: block;
}

input[type=text] {
    width: 100%;
    margin-bottom: 22px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

.cartbox {
    background-color: rgba(243, 243, 243, 0.5);
    height: auto;
}

.logo-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.logo-cart img {
    width: 16%;
    height: auto;
}

.cart-item {
    display: flex;
    justify-content: center;
    padding: 25px;
    height: auto;
}

.cart-item img{
    max-width: 110px;
    height: auto;
    padding-right: 30px;

}

.cart-text {
    display: flex;
    flex-direction: column;
    text-overflow:ellipsis
}



.payment {

    padding: 20px;
    margin: 60px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.column50 {
    flex: 40%;
    padding: 0 16px;

}
