main {
    background-image: url('../assets/checkout.jpg');
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding: 80px;
    margin: 20px;
}

h1 {
    color: #000;
}


h2 {
    color: #000;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: normal;
    padding: 2px 3px;
}


.successbox {
    background-color: rgba(243, 243, 243, 0.5);
    width: 96%;
    height: 100%;
    padding: 20px;
}

    .success-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


.success-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}