.feature {
	  background-image: url('../assets/header.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
    background-position: center;
    max-width: 96%;
    max-height: 40%;
    padding: 30px;
    margin: 20px;
  }

.feature img {
  width: 32%;
  height: 10%;
  }

  .titles {
  color:#fff;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 10px;
}

.feature-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  word-wrap: normal;
 }

.feature-text {
  background-color: rgba(0, 0, 0, 0.57);
  font-family: "Inter", serif;
  margin: 20px;
  padding: 20px;
  width: 50%;
  height: 30%;
}

.feature-movie {
  font-family: var(--text-heading), sans-serif;
  font-size: 24px;
}

.yearreleased {
  font-size: 18px;
}

.synopsis {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.titles-top {
  color: #fff;
  font-family: var(--text-heading), sans-serif;
  font-weight: 50px;
  font-size: 3em;
  font-style: normal;
  text-align: center;
  padding: 65px;

}

.top-streaming {
  text-align: center;
}

.top-streaming,
.movie-title {
  background-color: rgba(217, 217, 217, 0.31);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 20px;
}

.top-streaming img {
  width: 314px;
  height: 415px;
  border: 2px underline#0C1B20;
  box-shadow: #0C1B20 2px 2px 4px;
}

.top-streaming img:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition-duration: 0.2s;
  box-shadow: #0C1B20 4px 4px 8px;
  border: 2px underline #0C1B20;
}

.movie {
  font-family: var(--text-heading), sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.movie-title:hover {
  text-decoration: underline;
  color:#FFFBFB;
}