.feature {
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 96%;
  max-height: 40%;
  padding: 30px;
  margin: 20px;
}

.feature img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

.titles {
  color:#fff;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 10px;
}

.feature-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  word-wrap: normal;
  gap: 20px;
}

.feature-text {
  background-color: rgba(0, 0, 0, 0.57);
  font-family: "Inter", serif;
  padding: 20px;
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-movie {
  font-family: var(--text-heading), sans-serif;
  font-size: 24px;
}

.yearreleased {
  font-size: 18px;
}

.synopsis {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.titles-top {
  color: #fff;
  font-family: var(--text-heading), sans-serif;
  font-weight: 50px;
  font-size: 3em;
  font-style: normal;
  text-align: center;
  padding-top: 10%;
}

.top-streaming {
  text-align: center;
}

.top-streaming,
.movie-title {
  background-color: rgba(217, 217, 217, 0.31);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 50px;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.top-streaming img {
  width: 100%;
  max-width: 314px;
  height: auto;
  aspect-ratio: 314 / 415;
  border: 2px solid #0C1B20;
  box-shadow: #0C1B20 2px 2px 4px;
  object-fit: cover;
}

.top-streaming img:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition-duration: 0.2s;
  box-shadow: #0C1B20 4px 4px 8px;
  border: 2px solid #0C1B20;
}

.movie {
  font-family: var(--text-heading), sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.movie-title:hover {
  text-decoration: underline;
  color: #FFFBFB;
}