@media (max-width: 1000px) {

    .AboutConnect {
      width: 587px;
      height: 234px;
      padding: 35px;
      margin: 15px;
    }
    
     .connectingheader {
        font-size: 40px;
      }
    
     .AboutInfo {
      max-width: 518px;
      max-height: 517px;
      padding: 70px;
      margin: 2px;
      }

      .twocontainer {
        flex-direction: column;
      }
  }
  
  @media (min-width: 800px) {
  
    header {
      justify-content: baseline;
    }
  
    nav {
      display: block;
      position: static;
    }
  
    header label {
      display: none;
    }
  
    nav li {
      display: inline-block;
    }

    .paycta {
      bottom: -30px;
      left: -89px;
  }
}
  
  @media (max-width: 800px) {
  
    .synopsis {
      font-size: 16px;
    }
  
    .top-streaming {
      display: grid;
      grid-template-columns: 1;
    }
  
    .titles-top {
      text-align: center;
    }
  
    .video-list {
      font-size: 16px;
      padding: 20px;
    }
  
    .video-list img {
      width: 150px;
      height: auto;
    }
  
    .twocontainer {
      flex-direction: column;
    }
  
    .contact_image img {
      width: 662px;
      padding-right: 0px;
    }
  
    .productpage {
      flex-direction: column;
    }
  
    .productpage img {
      justify-content: center;
      justify-items: center;
      width: 100%;
      height: 80%;
      padding:10px
    }
  }
  
  @media (max-width: 700px) {

    .feature-information {
      flex-direction: column;
    }

    .feature-information img {
      width: 40%;

    }
  
    .feature-text {
      width: 310px;
      height: 305px;
    }

    .synopsis {
      font-size: 12px;
    }
  
    .video-list {
      font-size: 12px;
      padding: 15px;
    }

    .movie-title {
        font-size: 14px;
    }

    .cart-text {
        font-size: 17px;
    }

    .paycta {
        right: -22%;
        top: 5%;
    }

    .success-cta {
      justify-content: space-around;
    }

    .paycta {
      right: 88px;
    }
  }

  @media (max-width: 600px) { 

    .success-cta {
      white-space: nowrap;
      flex-direction: column;
    }

    .success-header {
      font-size: 35px;
    }

    .cart-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cart-item img {
      width: 100px;
    }

    .paycta {
      right: 50%;
      white-space: nowrap;
    }

    .row {
      margin: -16px;
    }
  }

  @media (max-width: 500px) {
    
    .paycta {
      left: 25%;
    }
  }

  @media (max-width: 400px) {
    .paycta {
      left: 5%;
    }
  }
