.genre-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  margin-top: 20px;
}
  
  .video-list {
  background-color: rgba(217, 217, 217, 0.31);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 15px;
  text-align: center;
  white-space: nowrap;
  margin: 10px;
  padding: 20px;
}
  
  .video-list img {
  width: 200px;
  height: 294px;
  border: 2px solid #0C1B20;
  box-shadow: #0C1B20 2px 2px 4px;
}

  .video-list img:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition-duration: 0.2s;
  box-shadow: #0C1B20 4px 4px 8px;
  border: 2px solid #0C1B20;
}

  .genre-cta {
  font-family: var(--text-heading), sans-serif;
  text-decoration: none;
  background-color: #0C1B20;
  border: 1px solid #FFFBFB;
  color: #FFFBFB;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 40px;
}

.genre-cta:hover {
  background-color: #ddae48;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  color: #0C1B20;
  border: none;
  text-decoration: underline;
  transition-duration: 0.2s;
}
  