.genre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .genre-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .genre-container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

.genres {
    position: relative;
    left: -20px;
    top: -70px;
    margin: 12px;
  }
  
  .video-list {
    background-color: rgba(217, 217, 217, 0.31);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 25px;
    text-align: center;
    white-space: nowrap;
    margin: 2%;
    padding: 2%;
  }
  
  .video-list img {
    width: 200px;
    height: 294px;
    padding: 15px;
  }
  